@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", system-ui, sans-serif;
    --font-ibm: "IBM Plex Sans", system-ui, sans-serif;
}

.animacao {
    animation: linkMenuFade ease forward 0.3s;
}

.linkMenu {
    @apply text-[11pt] font-light opacity-0 transform translate-x-12 transition-all duration-700
}

.linkMenu:nth-child(1) {
    @apply delay-300
}

.linkMenu:nth-child(2) {
    @apply delay-[.44s]
}

.linkMenu:nth-child(3) {
    @apply delay-[.58s]
}

.linkMenu:nth-child(4) {
    @apply delay-[.72s]
}

.linkMenu:nth-child(5) {
    @apply delay-[.81s]
}

.linkMenu:nth-child(6) {
    @apply delay-[.91s]
}

.linkMenu:nth-child(7) {
    @apply delay-[.95s]
}

header.ativo .linkMenu {
    @apply opacity-100 translate-x-0
}

.linha {
    @apply bg-amber-300 w-9 h-1 my-1 rounded-full relative
}

.navMenuHamburguer {
    @apply cursor-pointer p-2 z-[1]
}

header.ativo nav:nth-child(2) {
    @apply translate-x-0
}

header.ativo .navMenuHamburguer .linha2 {
    @apply right-2.5
}

header.ativo .navMenuHamburguer .linha3 {
    @apply -right-2.5
}

.btn {
    @apply bg-amber-300 px-2 py-1 text-[#151515] font-ibm font-medium shadow-[0_0_14px_#FFD230] rounded-2xl cursor-pointer border-2 border-amber-300;
}

.btnPrimario {
    @apply border-white bg-transparent shadow-none text-white hover:bg-amber-300 hover:text-[#151515] hover:border-amber-300 hover:shadow-[0_0_14px_#FFD230];
}

.textoColorido {
    @apply text-amber-300
}

.textoBold {
    @apply font-extrabold
}

.textoColoridoBold {
    @apply text-amber-300 font-extrabold
}

.tituloSecao {
    @apply font-ibm text-amber-300 font-extrabold text-[22pt]
}

.firstNavSecao {
    @apply flex flex-col items-center text-center
}