@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-anton: "Anton", system-ui;
    --font-inter: "Inter", system-ui, sans-serif;
    --font-ibm: "IBM Plex Sans", system-ui, sans-serif;
}

.animacao {
    animation: linkMenuFade ease forward 0.3s;
}

.linkMenu {
    @apply text-[11pt] font-light opacity-0 transform translate-x-12 transition-all duration-700
}

.linkMenu:nth-child(1) {
    @apply delay-300
}

.linkMenu:nth-child(2) {
    @apply delay-[.44s]
}

.linkMenu:nth-child(3) {
    @apply delay-[.58s]
}

.linkMenu:nth-child(4) {
    @apply delay-[.72s]
}

.linkMenu:nth-child(5) {
    @apply delay-[.81s]
}

.linkMenu:nth-child(6) {
    @apply delay-[.91s]
}

.linkMenu:nth-child(7) {
    @apply delay-[.95s]
}

header.ativo .linkMenu {
    @apply opacity-100 translate-x-0
}

.linha {
    @apply bg-amber-300 w-9 h-1 my-1 rounded-full relative
}

.navMenuHamburguer {
    @apply cursor-pointer p-2 z-[3]
}

header.ativo nav:nth-child(2) {
    @apply translate-x-0
}

header.ativo .navMenuHamburguer .linha2 {
    @apply right-2.5
}

header.ativo .navMenuHamburguer .linha3 {
    @apply -right-2.5
}

.btn {
    @apply bg-amber-300 px-2 py-1 text-[#151515] font-ibm font-medium shadow-[0_0_14px_#FFD230] rounded-full cursor-pointer border-2 border-amber-300;
}

.btnPrimario {
    @apply border-[#2E2C2C] bg-transparent shadow-[0_0_14px_#2E2C2C] text-white hover:bg-amber-300 hover:text-[#151515] hover:border-amber-300 hover:shadow-[0_0_14px_#FFD230];
}

.textoColorido {
    @apply text-amber-300
}

.textoBold {
    @apply font-extrabold
}

.textoColoridoBold {
    @apply text-amber-300 font-extrabold
}

.tituloSecao {
    @apply text-gray-400 font-bold text-[20pt] font-ibm uppercase
}

.textoSecao {
    @apply text-white font-light font-inter 
}

.imgParceiros {
    @apply w-[200px]
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


.fade-edge::before,
.fade-edge::after {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.fade-edge::before {
    left: 0;
    background: linear-gradient(to right, #151515 89%, transparent 100%);
}

.fade-edge::after {
    right: 0;
    background: linear-gradient(to left, #151515 89%, transparent 100%);
}

.divDadosEstatisticos {
    @apply mx-1.5 min-w-max h-max text-center p-4 m-2 cursor-pointer relative  rounded-[10px] flex-initial snap-start
}

.divDadosEstatisticos h4 {
    @apply font-inter uppercase font-bold text-[10pt] text-transparent bg-clip-text bg-[linear-gradient(90deg,_#fff_0%,_#fff_50%,_gray_100%)]
}

.textoGradiente {
    @apply text-transparent bg-clip-text bg-[linear-gradient(90deg,_#fff_0%,_#fff_50%,_gray_100%)]
}

.divDadosEstatisticos p {
    @apply font-inter text-white py-1.5 font-bold text-[15pt]
}

.divDadosEstatisticos small {
    @apply font-inter text-[gray] py-1.5 font-bold
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.carousel-button {
    @apply absolute z-[1] text-[#151515] border-none text-[20pt] shadow-[0_0_12px_#FFD230] cursor-pointer w-10 h-10 rounded-[50%] bg-amber-300
}

.carousel-button.prev {
    @apply -left-9
}

.carousel-button.next {
    @apply -right-3;
}

.btnMostarPassoInvestimento {
    @apply rounded-full p-1 font-inter text-white border-2 border-[#2E2C2C] text-[11pt] shadow-[0_0_12px_#2E2C2C] cursor-pointer bg-[#2E2C2C]
}

.btnMostarPassoInvestimento.ativo {
    @apply bg-amber-300 text-[#151515] shadow-[0_0_12px_#FFD230] border-amber-300
}

.tituloPrincipalComoInvestir {
    @apply font-ibm text-[13pt] text-white font-medium uppercase
}

.contentCardComoInvestir {
    @apply flex items-center flex-col my-7
}

.textoPrincipalComoInvestir {
    @apply text-white text-center py-1 font-inter font-light
}

.cardComoInvestir {
    @apply p-2 border-2 border-[#2E2C2C] my-2 rounded-lg w-[85%] text-center cursor-pointer
}

.cardComoInvestir .iconeComoInvestir i {
    @apply text-amber-300 text-[13pt]
}

.cardComoInvestir .textoPassoComoInvestir {
    @apply font-inter font-bold text-amber-300 text-[12pt]
}

.cardComoInvestir .textoComoInvestir{
    @apply font-inter font-light py-2 text-white
}

hr {
    @apply my-4 border-amber-300 w-1/2 m-auto rounded-full opacity-90
}

.hr1 {
    @apply my-1 border-amber-300 w-1/2 m-auto rounded-full opacity-90
}

.acordeao {
  @apply border-b border-[#2E2C2C] py-4 transition-all w-[90%];
}

.acordeaoQuestao {
  @apply flex justify-between items-center cursor-pointer py-2;
}

.acordeaoResposta {
  @apply max-h-0 overflow-hidden opacity-0 transition-all duration-300;
  ul {
    @apply pl-6 pt-2 space-y-2;
    li {
      @apply relative pl-4;
      &::before {
        @apply content-[''] absolute left-0 top-2 w-2 h-2 bg-amber-300 rounded-full;
      }
    }
  }
}

.acordeao.ativo .acordeaoResposta {
  @apply max-h-[500px] opacity-100 py-4;
}

.acordeao.ativo h5 {
    @apply text-amber-300 transition-all duration-500 ease-in-out;
}

.acordeao.ativo .checkAcordeao {
    @apply text-amber-300 shadow-[0_0_14px_#FFD230]
}

.acordeaoQuestao h5 {
    @apply font-ibm text-[17pt] uppercase font-bold text-gray-500
}

.acordeaoResposta {
    @apply text-white font-inter font-extralight pt-2.5 opacity-0
}

.checkAcordeao {
    @apply text-gray-500 font-ibm font-medium shadow-[0_0_14px_#6A7282] rounded-full text-[14pt] transition-all duration-500 ease-in-out
}

.fade-mask {
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
}

.expanded {
    max-height: none !important;
}